<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">

 <!-- Doc Links - WPF - main-->
  <t:site key="WPFDocs">/WPF/</t:site>

<!-- Doc Links - Marketing Emails-->
  <t:site key="WPFRNsLatest">/wpf/2.0.0/release-notes/2.0.5.md</t:site>

 <!-- Installers -->
  <t:site key="MessingHostInstaller">https://thycoticdownloadsprod.blob.core.windows.net/ssintegrations/ThycoticMessagingHost/ThycoticMessagingHost.zip</t:site>

 <!-- EULA -->
  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>

</t:sites>